*list*
*out
*err
05_trinity_assembly*
wgcna
go_enrich*
filter_low_expressio*
*contamination*
uniprot*
61a17079-ad1c-4f24-b28b-7775a6ec4190/
aligned-rep-seqs.qza
alpha-rarefaction.qzv
biom-taxonomy.tsv
blast_annotation_host_nt.txt
blast_annotation_hostgc50_nr.txt
blast_annotation_hostgc50_nt.txt
blast_annotation_nt.txt
blast_annotation_symbiont_nt.txt
classifier.qza
core-metrics-results/
exported/
host_gc.txt
host_gc50.fa
join_corals.txt
join_metanalysis_c1.txt
masked-aligned-rep-seqs.qza
paired-end-demux.qza
ref-otus.qza
ref-seq.qza
ref-taxonomy.qza
rep-seqs.qza
rep-seqs.qzv
rooted-tree.qza
rooted.tre
symbiont_gc.txt
table.qza
table.qzv
taxa-bar-plots.qzv
taxonomy.qza
taxonomy.qzv
unrooted-tree.qza
01_info_files/cuning_trimmed_ITS2.fa
01_info_files/id_to_taxonomy.txt
01_info_files/pe-64-manifest
01_info_files/sample_metadata_metabarcoding.tsv
01_info_files/se-64-manifest
01_info_files/sequence_otu_trimmed.fa
04_mapped/corals/
